@use "variables" as *;

@mixin main-font {
  display: flex;
  align-items: center;
  height: 1.5rem;
  text-align: center;
  font-size: 16px;
  font-family: $font_family_primary;
  text-transform: uppercase;
}

@mixin outline {
  outline: 1px solid #03045e;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
