// FONT FAMILY
$font_family_primary: "Truculenta", sans-serif;

// COLORS
$font_color_primary: #4c0827;
$primary_shadow: #343a40;
$background-color: #8b8a8f;
$card-color: #fff;

// MEDIA QUERY SIZE
$break-tablet: 768px;
$break-desktop: 1024px;
