@use "../util" as *;

.grid-container {
  // @include outline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5em;
  width: 98%;
  height: 1000px;
}

// MODAL STYLES
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal-container {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  background-color: #fff;
}

.hidden {
  display: none;
}

//HEADER STYLES
header h1 {
  @include header-logo;
}

.text-container {
  height: 100%;
  width: 100%;
}
