@use "../util" as *;

// SEARCH BAR STYLES
.search {
  display: flex;
  flex-direction: column;
}
#search {
  width: 300px;
  height: 40px;
  border: 2px solid rgb(208, 205, 205);
  border-radius: 4px;
  padding-left: 5px;
  margin: 10px;
}
#search:focus,
#search:hover {
  background-color: #03045e;
  color: #fff;
  outline: 4px double #80d39b;
}
#search-filter {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  @include main-font;
}

//HEADER STYLES
header h1 {
  @include main-font;
  margin: 10px 0 0 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 10px;
  height: 100%;
  width: 100%;
  & h2 {
    margin-top: 15px;
  }
}

// MODAL STYLES
.card {
  font-size: 0.8rem;
  text-align: center;
  @include flex-row;
  @include outline;
  background-color: $card-color;
  border-radius: 5px;
  height: 100px;
  width: 300px;
  margin-bottom: 10px;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0%);
    background-color: #03045e;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 3px 2px #8b8a8f;
    outline: 3px solid #80d39b;
  }
  & .avatar {
    margin-left: 10px;
    border-radius: 50%;
    width: 30%;
    &:hover {
      outline: 3px double #80d39b;
    }
  }
}

// MODAL CONTAINER STYLES
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 300px;
  width: 300px;
  margin-top: 120px;
  z-index: 100;
  background-color: $card-color;
  border-radius: 10px;
  outline: 3px solid black;
}
.modal {
  display: flex;
  flex-direction: column;
}
.modal-close {
  background-color: transparent;
  border: none;
  align-self: end;

  &:hover {
    cursor: pointer;
    opacity: 0.2;
  }
}
.modal-content {
  & img {
    border-radius: 50%;
    width: 30%;
    align-items: center;
  }
}

.previous,
.next {
  cursor: pointer;
}

.hidden {
  display: none;
}
